@font-face {
   font-family: '35069D_2_0';
   font-display: swap;
   src: url('35069D_2_0/font.ttf');
}
@font-face {
   font-family: '35069D_0_0';
   font-display: swap;
   src: url('35069D_0_0/font.ttf');
}
@font-face {
   font-family: '35069D_1_0';
   font-display: swap;
   src: url('35069D_1_0/font.ttf');
}
