@font-face {
   font-family: '35069D_1_0';
   font-display: swap;
   src: url('file:///Users/kate/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-03-31_151427/fonts/35069D_1_0/font.ttf');
}
